<html>

<head>
    <title>{{title}}</title>
    <style>
        html,
        body {
            background: #EEE;
            color: #333;
            font-family: sans-serif;
            padding: 20px;
        }

        .map.viewer cell {
            overflow: hidden;
            white-space: normal;
        }

        .map.viewer terrain {
            display: inline-block;
            background-size: contain;
            margin: 0;
        }

        .map.viewer terrain> label {
            display: none;
        }

        .map.viewer.outline-areas terrain> label {
            display: inherit;
        }

        .map.viewer.hide-terrain terrain {
            display: none;
        }

        .map.viewer.outline-areas.macro cell {
            outline: 2px solid #333;
            outline-offset: -3px;
        }

        .map.viewer.outline-areas.normal cell {
            outline: 1px solid #444;
            outline-offset: -1px;
        }

        .map.viewer.outline-areas.mini cell {
            outline: 1px solid #555;
            outline-offset: -1px;
        }

        textarea {
            width: 600px;
            height: 400px;
        }
    </style>
    <link href="css/tiles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

    <link href="css/navigation.css" rel="stylesheet" />
    <script src="lib/navigation.js"></script>

    <script src="lib/map-data.js"></script>
</head>

<body>
    <navigation></navigation>

    <h1>{{title}}</h1>

    <div class="options bordered inline">
        <button id="mini-view">Mini View</button>
        <button id="normal-view">Normal View</button>
        <button id="macro-view">Macro View</button>
    </div>

    <div class="options bordered inline">
        <button id="hide-terrain">Hide Terrain</button>
        <button id="show-terrain">Show Terrain</button>
        <button id="hide-outlines">Hide Outlines</button>
        <button id="show-outlines">Show Outlines</button>
    </div>

    <div class="options bordered inline">
        <label>Width</label>
        <input type="number" id="map-width" value="0" min="1" max="1000" size="4" />
        <label>Height</label>
        <input type="number" id="map-height" value="0" min="1" max="1000" size="4" />
        <button id="load-random-areas">Random Map</button>
        <button id="load-sample-areas">Sample Map</button>
    </div>

    <div id="map-viewer" class="map viewer inline bordered outline-areas normal show-terrain"></div>

    <div class="options bordered inline">
        <p><button id="import-world-json">Import World JSON</button></p>
        <textarea id="json-text-input"></textarea>
    </div>

    <script>
        var $areasViewer;
        var $areasCells;

        var dimensions = {
            width: parseInt("{{dimensions.width}}"),
            height: parseInt("{{dimensions.height}}")
        };

        var tilesTypes = 'GFWSM'.split('');
        var areas;
        var sampleMap = mapData;

        function setup() {
            areas = createMap(dimensions.width, dimensions.height);
            createMapCells();
            setupViewButtons();
            setupTerrainButtons();
            setupMapLoadButtons();
            setupImportButtons();
        }

        function createMap(columns, rows) {
            var areas = [];

            // choose edging tile
            var edgeTile = {
                baseType: pickRandomTile()
            };

            // first pass
            for (var j = 0; j < rows; j++) {
                areas[j] = areas[j] || [];
                for (var i = 0; i < columns; i++) {
                    areas[j][i] = areas[j][i] || {
                        baseType: pickRandomTile(i, j, edgeTile.baseType),
                        x: i,
                        y: j
                    }
                }
            }

            areas.findTile = function(tile, xOffset, yOffset) {
                var row = areas[tile.y + yOffset];
                if (row) {
                    return row[tile.x + xOffset] || edgeTile;
                } else {
                    return edgeTile;
                }
            }

            interpolateAreas(areas);

            return areas;
        }

        function interpolateAreas(areas) {
            areas.forEach(function(row) {
                row.forEach(function(tile) {
                    tile.compass = interpolateTiles(tile, areas.findTile);
                });
            });
        }

        function collapse(tiles) {
            return tiles.map(function(tile) {
                return tile.baseType;
            }).join('');
        }

        function interpolateTiles(tile, f) {
            return collapse([f(tile, 0, 0), f(tile, 1, 0), f(tile, 0, 1), f(tile, 1, 1)]);
        }

        function pickRandomTile(x, y, defaultSymbol) {
            if (defaultSymbol && x === 0 || y === 0) {
                return defaultSymbol;
            }
            var r = Math.floor(Math.random() * tilesTypes.length);
            return tilesTypes[r];
        }

        function createMapCells() {
            $areasViewer = $('#map-viewer');
            $areasViewer.html('');

            $areasCells = [];
            areas.forEach(function(row) {
                $row = $('<row></row>');
                row.forEach(function(tile) {
                    $cell = $('<cell class="tile tile-' + tile.baseType + ' primary"></cell>');
                    //$cell.append('<p>' + tile.baseType + ' : ' + tile.x + ', ' + tile.y + '</p>')
                    $cell.append('<terrain>' + tile.compass + '</terrain>');
                    $row.append($cell);
                    $areasCells.push($cell);
                });
                $areasViewer.append($row);
            });

            $('terrain').each(function() {
                $terrain = $(this);
                var compass = $terrain.text().split('');
                $terrain.css("background-image", "url('areas/area-" + compass.join('') + ".png')");
                $terrain.html('<label>' + compass[0] + ' ' + compass[1] + '<br/>' + compass[2] + ' ' + compass[3] + '</label>')
            });

            $('json-text-input').val({
                areas: areas
            });
        }

        function setupViewButtons() {
            var variants = ['micro', 'mini', 'normal', 'macro'];
            var $target = $('#map-viewer');

            function changeClass($el, type, variants) {
                return function() {
                    variants.forEach(function(variant) {
                        $el.removeClass(variant);
                    });
                    $el.addClass(type);
                }
            }

            $('button#micro-view').on('click', changeClass($target, 'micro', variants));
            $('button#mini-view').on('click', changeClass($target, 'mini', variants));
            $('button#normal-view').on('click', changeClass($target, 'normal', variants));
            $('button#macro-view').on('click', changeClass($target, 'macro', variants));
        }

        function setupTerrainButtons() {
            var $areasViewer = $('#map-viewer');

            $('button#show-terrain').on('click', function() {
                $areasViewer.addClass('show-terrain').removeClass('hide-terrain');
            });

            $('button#hide-terrain').on('click', function() {
                $areasViewer.addClass('hide-terrain').removeClass('show-terrain');
            });

            $('button#show-outlines').on('click', function() {
                $areasViewer.addClass('outline-areas');
            });

            $('button#hide-outlines').on('click', function() {
                $areasViewer.removeClass('outline-areas');
            });
        }

        function setupMapLoadButtons() {
            $('button#load-random-areas').on('click', function() {

                dimensions.width = $('input#map-width').val();
                dimensions.height = $('input#map-height').val();

                areas = createMap(dimensions.width, dimensions.height);
                createMapCells();
            });

            $('button#load-sample-areas').on('click', function() {
                areas = sampleMap;
                createMapCells();
            });

            $('input#map-width').val(dimensions.width);
            $('input#map-height').val(dimensions.width);
        }

        function setupImportButtons() {
            $('button#import-world-json').on('click', function() {
                var input = $('textarea#json-text-input').val();
                try {
                    areas = JSON.parse(input).areas;
                    createMapCells();
                }
                catch(ex) {
                    console.log('Unable to parse input data', ex, ex.stack);
                }
            });
        }

        $(setup);
    </script>
</body>

</html>