<html>

<head>
    <title>{{title}}</title>
    <style>
        html,
        body {
            background: #EEE;
            color: #333;
            font-family: sans-serif;
            padding: 0;
            margin: 0;
        }
    </style>

    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <link href="/output/website/css/tiles.css" rel="stylesheet" />
    <script src="/output/website/lib/tiles.js"></script>
    <script src="/output/website/lib/layouts.js"></script>
</head>

<body>
    <div style="width: 384px; position: absolute;" id="debug"></div>
    <div class="tile area viewer inline micro area contents"></div>

    <script>
        $('#debug').append('{{areaViewer.dimensions.width}}, {{areaViewer.dimensions.height}}, {{layout}}');

        var compassMap = {
            NW: "{{NW}}",
            NE: "{{NE}}",
            SW: "{{SW}}",
            SE: "{{SE}}"
        };

        var dimensions = {
            width: parseInt("{{areaViewer.dimensions.width}}"),
            height: parseInt("{{areaViewer.dimensions.height}}")
        };

        var layout = layouts['{{layout}}'] || layouts['default'];

        var tileTypes = 'GFWSM'.split('');
        var tileCompass = ['NW', 'NE', 'SW', 'SE'];
        var areaTiles = decodeTiles(layout.tiles);
        var $cells = [];
        var tileMap = createTileMapForArea();

        function createTileMapForArea() {
            var tileMap = {};

            tiles.forEach(function(tile) {
                tileMap[tile.symbol] = tile.id;
            });

            tileCompass.forEach(function(compassPosition) {
                tileMap[compassPosition] = compassMap[compassPosition];
            });

            return tileMap;
        }

        var isMouseDown = false;
        var paintValue = tileCompass[0];

        function setup() {
            setupAreaViewer();
        }

        function setupAreaViewer() {
            $table = $('div.area.contents');
            for (var j = 0; j < dimensions.height; j++) {
                $row = $('<row></row>');
                areaTiles[j] = areaTiles[j] || [];
                for (var i = 0; i < dimensions.width; i++) {
                    var fill = areaTiles[j][i];
                    var tile = tileMap[fill];
                    $cell = $('<cell class="display tile-' + tile + ' primary">' + fill + '</cell>');
                    $cell.update = updateCell($cell, j, i);
                    $row.append($cell);
                    $cells.push($cell);
                }
                $table.append($row);
            }
        }

        function showTileData(tileData) {
            areaTiles = decodeTiles(tileData);
            removeColours();

            $cells.forEach(function($cell) {
                $cell.update();
            });

            colourTiles();
        }

        function colourCell($cell, value) {
            var currentValue = $cell.text();
            $cell.removeClass('tile-' + compassMap[currentValue]);
            $cell.removeClass('tile-' + currentValue);

            $cell.addClass('tile-' + compassMap[value]);
            $cell.addClass('tile-' + value);
            $cell.text(value);
        }

        function updateCell($cell, row, column) {
            return function() {
                var value = areaTiles[row][column];
                colourCell($cell, value);
            };
        }

        function encodeTiles(areaTiles) {
            return areaTiles.map(function(row) {
                return row.join(':');
            });
        }

        function decodeTiles(areaTiles) {
            return areaTiles.map(function(row) {
                return row.split(':');
            });
        }

        function displayRawTileData() {
            var tileData = areaTiles.map(function(row) {
                return row.join(':');
            });
            var json = JSON.stringify(tileData, null, 2);
            $('#tile-data').text(json);
        }

        function removeColours() {
            tileTypes.forEach(function(i) {
                $('.display.tile-' + i).removeClass('tile-' + i);
            })
        }

        function colourTiles() {
            tileCompass.forEach(function(k) {
                $('.display.tile-' + k).addClass('tile-' + compassMap[k]);
            });
        }

        $(function() {
            setup();
            colourTiles();

            $('#debug').append(' Cells ').append($cells.length);
        });
    </script>
</body>

</html>