errors {
    position: absolute;
    justify-content: flex-end;
    align-items: flex-start;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    z-index: 80;
    text-align: center;
}

errors.hidden { display: none; }
errors.visible { display: flex; }

errors > pre {
    font-family: monospace;
    margin: 6px;
    font-size: 1em;
    line-height: 1em;
    color: whitesmoke;
    text-align: justify;
}