<html>

<head>
    <title>{{title}}</title>
    <style>
        html,
        body {
            background: #EEE;
            color: #333;
            font-family: sans-serif;
            padding: 20px;
        }
    </style>
    <link href="tiles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
</head>

<body>
    <h1>{{title}}</h1>
    <table class="tile grid preview bordered">
        <tbody>
            <tr>
                <td class="guide tile-NW tile-{{NW}} primary">NW</td>
                <td class="guide tile-NE tile-{{NE}} primary">NE</td>
            </tr>
            <tr>
                <td class="guide tile-SW tile-{{SW}} primary">SW</td>
                <td class="guide tile-SE tile-{{SE}} primary">SE</td>
            </tr>
        </tbody>
    </table>

    <table class="tile area viewer">
        <tbody>
            <tr>
                <td class="area contents"></td>
            </tr>
        </tbody>
    </table>

    <h2>Tile Data</h2>
    <pre id="tile-data" class="bordered"></pre>

    <p>Copy this data into the source.</p>

    <script>
        var tileMap = {
            NW: "{{NW}}",
            NE: "{{NE}}",
            SW: "{{SW}}",
            SE: "{{SE}}"
        };

        var dimensions = {
            width: Number.parseInt("{{areaViewer.dimensions.width}}"),
            height: Number.parseInt("{{areaViewer.dimensions.height}}")
        };

        var tileTypes = [1, 2, 3, 4, 5];
        var tileCompass = ['NW', 'NE', 'SW', 'SE'];
        var tiles = decodeTiles({{json areaViewer.layouts.default.tiles}});

        var isMouseDown = false;
        var paintValue = tileCompass[0];

        function setup() {

            $('body').mousedown(function() {
                isMouseDown = true;
            }).mouseup(function() {
                isMouseDown = false;
            });

            $table = $('td.area.contents');
            var cellTemplate = '<cell class="display tile-X primary">X</cell>';
            for (var j = 0; j < dimensions.height; j++) {
                $row = $('<row></row>');
                tiles[j] = tiles[j] || [];
                for (var i = 0; i < dimensions.width; i++) {
                    var fill = tiles[j][i];
                    $cell = $(cellTemplate.replace(/X/g, fill));
                    $cell.on('mouseover', paintCell(j, i));
                    $row.append($cell);
                }
                $table.append($row);
            }

            tileCompass.forEach(function(k) {
                console.log('Setting up guide tile ' + k);
                $('.guide.tile-' + k).on('click', function() {
                    tileMap[k] = (tileMap[k] % tileTypes.length) + 1;
                    removeColours();
                    colourTiles();
                    paintValue = k;
                });
            });

            $('body').disableSelection();
            displayRawTileData();
        }

        function paintCell(row, column) {
            return function(mouseEvent) {
                if (!isMouseDown) {
                    return false;
                }
                var $tile = $(this);

                var compassPosition = $tile.text();
                $tile.removeClass('tile-' + tileMap[compassPosition]);
                $tile.removeClass('tile-' + compassPosition);

                var newIndex = (tileCompass.indexOf(compassPosition) + 1) % tileCompass.length;
                var newPosition = paintValue;

                console.log('Change', compassPosition, 'at', newIndex, 'to', newPosition);

                $tile.addClass('tile-' + tileMap[newPosition]);
                $tile.addClass('tile-' + newPosition);
                $tile.text(newPosition);

                tiles[row][column] = newPosition;

                displayRawTileData();

                return false;
            }
        }

        function encodeTiles(tiles) {
            return tiles.map(function(row) {
                return row.join(':');
            });
        }

        function decodeTiles(tiles) {
            return tiles.map(function(row) {
                return row.split(':');
            });
        }

        function displayRawTileData() {
            var tileData = tiles.map(function(row) {
                return row.join(':');
            });
            var json = JSON.stringify(tileData, null, 2);
            $('#tile-data').text(json);
        }

        function removeColours() {
            tileTypes.forEach(function(i) {
                $('.tile-' + i).removeClass('tile-' + i);
            })
        }

        function colourTiles() {
            tileCompass.forEach(function(k) {
                $('.tile-' + k).addClass('tile-' + tileMap[k]);
            });
        }

        (function($) {
            $.fn.disableSelection = function() {
                return this
                    .attr('unselectable', 'on')
                    .css('user-select', 'none')
                    .on('selectstart', false);
            };
        })(jQuery);

        $(function() {
            setup();
            colourTiles();
        });
    </script>
</body>

</html>