<html>

<head>
    <title>{{title}}</title>
    <style>
        html, body {
            background: #EEE;
            color: #333;
            font-family: sans-serif;
            padding: 20px;
        }
    </style>
    <link href="tiles.css" rel="stylesheet" />
</head>

<body>
    <h1>{{title}}</h1>
    <table class="tile grid">
        <tbody>
            <tr>
                <td></td>
                <td class="bordered tile-1 primary">N</td>
                <td></td>
            </tr>
            <tr>
                <td class="bordered tile-2 primary">W</td>
                <td class="bordered tile-3 primary">X</td>
                <td class="bordered tile-4 primary">E</td>
            </tr>
            <tr>
                <td></td>
                <td class="bordered tile-5 primary">S</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>

</html>
