<html>

<head>
    <title>{{title}}</title>
    <style>
        html, body {
            background: #EEE;
            color: #333;
            font-family: sans-serif;
            padding: 20px;
        }
    </style>
    <link href="tiles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
</head>

<body>
    <h1>{{title}}</h1>
    <table class="tile grid preview">
        <tbody>
            <tr>
                <td class="bordered guide tile-NW tile-{{NW}} primary">NW</td>
                <td class="bordered guide tile-N tile-{{N}} primary">N</td>
                <td class="bordered guide tile-NE tile-{{NE}} primary">NE</td>
            </tr>
            <tr>
                <td class="bordered guide tile-W tile-{{W}} primary">W</td>
                <td class="bordered guide tile-C tile-{{C}} primary">C</td>
                <td class="bordered guide tile-E tile-{{E}} primary">E</td>
            </tr>
            <tr>
                <td class="bordered guide tile-SW tile-{{SW}} primary">SW</td>
                <td class="bordered guide tile-S tile-{{S}} primary">S</td>
                <td class="bordered guide tile-SE tile-{{SE}} primary">SE</td>
            </tr>
        </tbody>
    </table>

    <table class="tile area viewer">
        <tbody>
            <tr>
                <td>
                    <table class="tile grid">
                        <tbody>
                            {{#each areaViewer.layouts.NW.tiles}}
                            <tr>
                                {{#each this}}
                                    <td class="display tile-{{this}} primary">{{this}}</td>
                                {{/each}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="tile grid">
                        <tbody>
                            {{#each areaViewer.layouts.NC.tiles}}
                            <tr>
                                {{#each this}}
                                    <td class="display tile-{{this}} primary">{{this}}</td>
                                {{/each}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="tile grid">
                        <tbody>
                            {{#each areaViewer.layouts.NE.tiles}}
                            <tr>
                                {{#each this}}
                                    <td class="display tile-{{this}} primary">{{this}}</td>
                                {{/each}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="tile grid">
                        <tbody>
                            {{#each areaViewer.layouts.WC.tiles}}
                            <tr>
                                {{#each this}}
                                    <td class="display tile-{{this}} primary">{{this}}</td>
                                {{/each}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="tile grid">
                        <tbody>
                            {{#each areaViewer.layouts.CC.tiles}}
                            <tr>
                                {{#each this}}
                                    <td class="display tile-{{this}} primary">{{this}}</td>
                                {{/each}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="tile grid">
                        <tbody>
                            {{#each areaViewer.layouts.EC.tiles}}
                            <tr>
                                {{#each this}}
                                    <td class="display tile-{{this}} primary">{{this}}</td>
                                {{/each}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="tile grid">
                        <tbody>
                            {{#each areaViewer.layouts.SW.tiles}}
                            <tr>
                                {{#each this}}
                                    <td class="display tile-{{this}} primary">{{this}}</td>
                                {{/each}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="tile grid">
                        <tbody>
                            {{#each areaViewer.layouts.SC.tiles}}
                            <tr>
                                {{#each this}}
                                    <td class="display tile-{{this}} primary">{{this}}</td>
                                {{/each}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="tile grid">
                        <tbody>
                            {{#each areaViewer.layouts.SE.tiles}}
                            <tr>
                                {{#each this}}
                                    <td class="display tile-{{this}} primary">{{this}}</td>
                                {{/each}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <script>

    var tileMap = {
        N: {{N}},
        S: {{S}},
        E: {{E}},
        W: {{W}},
        C: {{C}},
        NW: {{NW}},
        NE: {{NE}},
        SW: {{SW}},
        SE: {{SE}}
    };

    var tileTypes = [1,2,3,4,5];
    var tileCompass = ['N', 'S', 'E', 'W', 'C', 'NW', 'NE', 'SW', 'SE'];

    var paintValue = tileCompass[0];

    function setup() {
        tileCompass.forEach(function(k) {
            console.log('Setting up guide tile ' + k);
            $('.guide.tile-' + k).on('click', function() {
                tileMap[k] = (tileMap[k] % tileTypes.length) + 1;
                removeColours();
                colourTiles();
                paintValue = k;
            });
        });

        tileCompass.forEach(function(k) {
            console.log('Setting up display tile ' + k);
            $('.display.tile-' + k).on('click', function() {
                var $tile = $(this);

                var compassPosition = $tile.text();
                $tile.removeClass('tile-' + tileMap[compassPosition]);
                $tile.removeClass('tile-' + compassPosition);

                var newIndex = (tileCompass.indexOf(compassPosition) + 1) % tileCompass.length;
                var newPosition = paintValue; // tileCompass[newIndex];

                console.log('Change', compassPosition, 'at', newIndex, 'to', newPosition);

                $tile.addClass('tile-' + tileMap[newPosition]);
                $tile.addClass('tile-' + newPosition);
                $tile.text(newPosition);
            });
        });
    }

    function removeColours() {
        tileTypes.forEach(function(i) {
            $('.tile-' + i).removeClass('tile-' + i);
        })
    }

    function colourTiles() {
        tileCompass.forEach(function(k) {
            $('.tile-' + k).addClass('tile-' + tileMap[k]);
        });
    }

    $(function() {
        setup();
        colourTiles();
    });

    </script>
</body>

</html>
