<html>

<head>
    <title>{{title}}</title>
    <style>
        html,
        body {
            background: #EEE;
            color: #333;
            font-family: sans-serif;
            padding: 20px;
        }
        cell {
            cursor: pointer;
        }
    </style>
    <link href="css/tiles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

    <link href="css/navigation.css" rel="stylesheet" />
    <script src="lib/navigation.js"></script>
</head>

<body>
    <navigation></navigation>

    <h1>{{title}}</h1>

    <div class="options bordered inline">
        <button id="micro-view">Micro View</button>
        <button id="mini-view">Mini View</button>
        <button id="normal-view">Normal View</button>
        <button id="macro-view">Macro View</button>
    </div>

    <div id="combinations" class="combinations macro">
        <h3>Information</h3>
        <p>Number of combinations: <b>{{areaCombinations.count}}</b></p>
        <p>{{#each areaCombinations.combinations}}
            <cell style="background-image: url('areas/area-{{this}}.png');" alt="Area {{this}}" x-href="area-editor.html?layout={{this}}"></cell>
            {{/each}}</p>
    </div>

    <script>
        function setup() {
            setupCellActions();
            setupViewButtons();
        }

        function setupCellActions() {
            $('cell').on('click', function() {
                var href = $(this).attr('x-href');
                window.location = href;
            });
        }

        function setupViewButtons() {
            var variants = ['micro', 'mini', 'normal', 'macro'];
            var $target = $('#combinations');

            function changeClass($el, type, variants) {
                return function() {
                    variants.forEach(function(variant) {
                        $el.removeClass(variant);
                    });
                    $el.addClass(type);
                }
            }

            $('button#micro-view').on('click', changeClass($target, 'micro', variants));
            $('button#mini-view').on('click', changeClass($target, 'mini', variants));
            $('button#normal-view').on('click', changeClass($target, 'normal', variants));
            $('button#macro-view').on('click', changeClass($target, 'macro', variants));
        }

        $(setup);
    </script>

</body>

</html>