<html>

<head>
    <title>{{title}}</title>
    <style>
        html, body {
            background: #EEE;
            color: #333;
            font-family: sans-serif;
            padding: 20px;
        }
    </style>
    <link href="tiles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
</head>

<body>
    <h1>{{title}}</h1>
    <div class="combinations">
        <h3>Information</h3>
        <p>Variants: <b>{{#each areaCombinations.variants}}<terrain><cell>{{this}}</cell></terrain> {{/each}}</b></p>
        <p>Combination length: <b>{{areaCombinations.length}}</b></p>
        <p>Number of combinations: <b>{{areaCombinations.count}}</b></p>
        <p>{{#each areaCombinations.combinations}}
            <terrain class="square"><cell>{{this}}</cell></terrain>
        {{/each}}</p>
    </div>

    <script>

    function setup() {
        var compass = ['NW', 'NE', 'SW', 'SE'];
        $('terrain').each(function() {
            $terrain = $(this);
            var cells = $terrain.text().split('');
            var cellElements = '';
            cells.forEach(function(cell, index, array) {
                cellElements += '<cell class="tile-' + cell + ' primary compass-' + compass[index] + '">' + cell + '</cell>';
            });
            $terrain.html(cellElements);
        });
    }

    $(setup);

    </script>
</body>

</html>
