<html>

<head>
    <title>{{title}}</title>
    <style>
        html, body {
            background: #EEE;
            color: #333;
            font-family: sans-serif;
            padding: 20px;
        }
    </style>
    <link href="tiles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

    <link href="css/navigation.css" rel="stylesheet" />
    <script src="lib/navigation.js"></script>
</head>

<body>
    <navigation></navigation>

    <h1>{{title}}</h1>

    <h3>Variants</h3>
    <p class="inline normal">{{#each areaCombinations.variants}}<terrain class="tile-{{this}} primary">{{this}}</terrain> {{/each}}</p>
    <p>Combination length: <b>{{areaCombinations.length}}</b></p>
    <p>Number of combinations: <b>{{areaCombinations.count}}</b></p>

    <p class="combinations inline normal">{{#each areaCombinations.combinations}}
        <cell class="square">{{this}}</cell>
    {{/each}}</p>

    <script>

    function setup() {
        var compass = ['NW', 'NE', 'SW', 'SE'];
        $('cell').each(function() {
            $cell = $(this);
            var terrainAreas = $cell.text().split('');
            var cellElements = '';
            $cell.html('');
            terrainAreas.forEach(function(areaCode, index, array) {
                $cell.append('<terrain class="tile-' + areaCode + ' primary compass-' + compass[index] + '">' + areaCode + '</terrain>')
            });
        });
    }

    $(setup);

    </script>
</body>

</html>
