<html>

<head>
    <title>{{title}}</title>
    <style>
        html,
        body {
            background: #EEE;
            color: #333;
            font-family: sans-serif;
            padding: 20px;
        }

        .map.viewer cell {
            overflow: hidden;
            white-space: normal;
        }

        .map.viewer terrain {
            display: inline-block;
            background-size: contain;
            margin: 0;
        }

        .map.viewer terrain> label {
            display: none;
        }

        .map.viewer.outline-areas terrain> label {
            display: inherit;
        }

        .map.viewer.hide-terrain terrain {
            display: none;
        }

        .map.viewer.outline-areas.macro cell {
            outline: 2px solid #333;
            outline-offset: -3px;
        }

        .map.viewer.outline-areas.normal cell {
            outline: 1px solid #444;
            outline-offset: -1px;
        }

        .map.viewer.outline-areas.mini cell {
            outline: 1px solid #555;
            outline-offset: -1px;
        }
    </style>
    <link href="css/tiles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

    <link href="css/navigation.css" rel="stylesheet" />
    <script src="lib/navigation.js"></script>

    <script src="lib/map-data.js"></script>
</head>

<body>
    <navigation></navigation>

    <h1>{{title}}</h1>

    <div class="options bordered inline">
        <button id="interpolate-basic">Basic Interpolation</button>
    </div>

    <div class="options bordered inline">
        <button id="mini-view">Mini View</button>
        <button id="normal-view">Normal View</button>
        <button id="macro-view">Macro View</button>
    </div>

    <div class="options bordered inline">
        <button id="hide-terrain">Hide Terrain</button>
        <button id="show-terrain">Show Terrain</button>
        <button id="hide-outlines">Hide Outlines</button>
        <button id="show-outlines">Show Outlines</button>
    </div>

    <div class="options bordered inline">
        <button id="load-random-map">Random Map</button>
        <button id="load-sample-map">Sample Map</button>
    </div>

    <div id="map-viewer" class="map viewer inline bordered outline-areas normal show-terrain"></div>

    <script>
        var $mapViewer;
        var $mapCells;

        var dimensions = {
            width: parseInt("{{dimensions.width}}"),
            height: parseInt("{{dimensions.height}}")
        };

        var tilesTypes = 'GFWSM'.split('');
        var sampleMap = mapData;
        var interpolationMethod = basicInterpolation;

        function setup() {
            mapData = createMap(dimensions.width, dimensions.height);
            createMapCells(basicInterpolation);
            setupInterpolationButtons();
            setupViewButtons();
            setupTerrainButtons();
            setupMapLoadButtons();
        }

        function createMap(columns, rows, interpolationMethod) {
            var map = [];

            // choose edging tile
            var edgeTile = {
                symbol: pickRandomTile()
            };

            // first pass
            for (var j = 0; j < rows; j++) {
                map[j] = map[j] || [];
                for (var i = 0; i < columns; i++) {
                    map[j][i] = map[j][i] || {
                        symbol: pickRandomTile(i, j, edgeTile.symbol),
                        x: i,
                        y: j
                    }
                }
            }

            map.findTile = function(tile, xOffset, yOffset) {
                var row = map[tile.y + yOffset];
                if (row) {
                    return row[tile.x + xOffset] || edgeTile;
                } else {
                    return edgeTile;
                }
            }

            return map;
        }

        function interpolateMap(map, interpolationMethod) {
            map.forEach(function(row) {
                row.forEach(function(tile) {
                    tile.compass = interpolationMethod(tile, map.findTile);
                });
            });
        }

        function collapse(tiles) {
            return tiles.map(function(tile) {
                return tile.symbol;
            }).join('');
        }

        function basicInterpolation(tile, f) {
            return collapse([f(tile, 0, 0), f(tile, 1, 0), f(tile, 0, 1), f(tile, 1, 1)]);
        }

        function pickRandomTile(x, y, defaultSymbol) {
            if (defaultSymbol && x === 0 || y === 0) {
                return defaultSymbol;
            }
            var r = Math.floor(Math.random() * tilesTypes.length);
            return tilesTypes[r];
        }

        function createMapCells(interpolationMethod) {
            $mapViewer = $('#map-viewer');
            $mapViewer.html('');

            interpolateMap(mapData, interpolationMethod);

            $mapCells = [];
            mapData.forEach(function(row) {
                $row = $('<row></row>');
                row.forEach(function(tile) {
                    $cell = $('<cell class="tile tile-' + tile.symbol + ' primary"></cell>');
                    //$cell.append('<p>' + tile.symbol + ' : ' + tile.x + ', ' + tile.y + '</p>')
                    $cell.append('<terrain>' + tile.compass + '</terrain>');
                    $row.append($cell);
                    $mapCells.push($cell);
                });
                $mapViewer.append($row);
            });

            $('terrain').each(function() {
                $terrain = $(this);
                var compass = $terrain.text().split('');
                $terrain.css("background-image", "url('areas/area-" + compass.join('') + ".png')");
                $terrain.html('<label>' + compass[0] + ' ' + compass[1] + '<br/>' + compass[2] + ' ' + compass[3] + '</label>')
            });
        }

        function setupInterpolationButtons() {
            $('button#interpolate-basic').on('click', function() {
                createMapCells(basicInterpolation);
            });
        }

        function setupViewButtons() {
            var variants = ['micro', 'mini', 'normal', 'macro'];
            var $target = $('#map-viewer');

            function changeClass($el, type, variants) {
                return function() {
                    variants.forEach(function(variant) {
                        $el.removeClass(variant);
                    });
                    $el.addClass(type);
                }
            }

            $('button#micro-view').on('click', changeClass($target, 'micro', variants));
            $('button#mini-view').on('click', changeClass($target, 'mini', variants));
            $('button#normal-view').on('click', changeClass($target, 'normal', variants));
            $('button#macro-view').on('click', changeClass($target, 'macro', variants));
        }

        function setupTerrainButtons() {
            var $mapViewer = $('#map-viewer');

            $('button#show-terrain').on('click', function() {
                $mapViewer.addClass('show-terrain').removeClass('hide-terrain');
            });

            $('button#hide-terrain').on('click', function() {
                $mapViewer.addClass('hide-terrain').removeClass('show-terrain');
            });

            $('button#show-outlines').on('click', function() {
                $mapViewer.addClass('outline-areas');
            });

            $('button#hide-outlines').on('click', function() {
                $mapViewer.removeClass('outline-areas');
            });
        }

        function setupMapLoadButtons() {
            $('button#load-random-map').on('click', function() {
                mapData = createMap(dimensions.width, dimensions.height);
                createMapCells(interpolationMethod);
            });

            $('button#load-sample-map').on('click', function() {
                mapData = sampleMap;
                createMapCells(interpolationMethod);
            });
        }

        $(setup);
    </script>
</body>

</html>