<html>

<head>
    <title>{{title}}</title>
    <style>
        html, body {
            background: #EEE;
            color: #333;
            font-family: sans-serif;
            padding: 20px;
        }
    </style>
    <link href="tiles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    
    <link href="css/navigation.css" rel="stylesheet" />
    <script src="lib/navigation.js"></script>
</head>

<body>
    <navigation></navigation>

    <h1>{{title}}</h1>
    <div class="tiles">
    {{#each areaTypes.tiles}}
        <h3>{{name}}</h3>
        <p>ID: <b>{{id}}</b></p>
        <div style="background: {{palette.secondary}};" class="tile box outer">
            <div style="background: {{palette.primary}};" class="tile box inner"></div>
        </div>
    {{/each}}
    </div>
</body>

</html>
