{{#each areaTypes.tiles}}
.tile-{{name}}.primary, .tile-{{id}}.primary {
    background: {{palette.primary}}
}
.tile-{{name}}.primary, .tile-{{id}}.primary {
    background: {{palette.secondary}}
}
{{/each}}

.tile.box.outer {
    display: block;
    width: 80px;
    height: 80px;
    padding: 20px;
}

.tile.box.inner {
    display: block;
    width: 100%;
    height: 100%;
}

.tile.grid {
    background: none;
    border-collapse: collapse;
    margin: 0 -1px -1px -1px;
}

.tile.grid td {
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
}

.tile.grid.preview {
    display: inline-block;
    margin: 32px;
    vertical-align: top;
}

.tile.grid .bordered {
    outline: 2px solid #999;
    outline-offset: 15px;
}

.tile.grid.area {
    margin: 32px;
}

.area.viewer {
    display: inline-block;
    border-collapse: collapse;
    outline: 2px solid #999;
    outline-offset: 15px;
    margin: 32px;
    vertical-align: top;
}

.area.viewer td {
    padding: 0;
}

.area.viewer .tile.grid td {
    border: 1px solid #999;
}
