<html>

<head>
    <title>{{title}}</title>
    <style>
        html,
        body {
            background: #EEE;
            color: #333;
            font-family: sans-serif;
            padding: 20px;
        }
    </style>
    <link href="css/tiles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

    <link href="css/navigation.css" rel="stylesheet" />
    <script src="lib/navigation.js"></script>

    <script src="lib/tiles.js"></script>
    <script src="lib/layouts.js"></script>
</head>

<body>
    <navigation></navigation>

    <h1>{{title}}</h1>

    <div class="options bordered inline normal" id="tile-selector"></div>

    <div class="tile editor bordered inline">
        <canvas id="tile-editor" width="48" height="48"></canvas>
    </div>

    <pre id="tile-data" class="bordered"></pre>

    <p>Copy this data into the source.</p>

    <script>
        var dimensions = {
            width: Number.parseInt("48"),
            height: Number.parseInt("48")
        };

        function setup() {
            fillCanvas();
        }

        function fillCanvas() {
            var c = document.getElementById("tile-editor");
            var ctx = c.getContext("2d");
            ctx.fillStyle = "#808080";
            ctx.fillRect(0,0,48,48);
        }

        $(setup);
    </script>
</body>

</html>