<html>

<head>
    <title>{{title}}</title>
    <style>
        html, body {
            background: #EEE;
            color: #333;
            font-family: sans-serif;
            padding: 20px;
        }
    </style>
    <link href="tiles.css" rel="stylesheet" />
</head>

<body>
    <h1>{{title}}</h1>
    <div class="tiles">
    {{#each areaTypes.tiles}}
        <h3>{{name}}</h3>
        <p>ID: <b>{{id}}</b></p>
        <div style="background: {{palette.secondary}};" class="tile box outer">
            <div style="background: {{palette.primary}};" class="tile box inner"></div>
        </div>
    {{/each}}
    </div>
</body>

</html>
